{% extends theme~'/index.twig' %}

{% block title %}{{brand.name}}{% endblock title %}

{% block body %}
    <div class="breadcrumbs">
        <a class="breadcrumbs-link" href="{{ path('index') }}">Главная</a> &#8594
        <a class="breadcrumbs-link" href="/brands/{{ brand.url }}">{{ brand.name }}</a>
    </div>
    <h2>{{ brand.name }}</h2>
    <div class="brands-links">
        SORT BY 
    </div>
    
    {{ knp_pagination_render(products) }}
    
    <article class="products">
    {% for product in products %}
        <article class="product">
            <section class="product-content">
                <a class="product-img" href="{{ path('product', {url: product.url}) }}">
                    <img alt="{{ product.name }}" src="{{ asset('/upload/'~product.image|first.filename) }}">
                </a>
                <a class="product-link eternal-link" href="{{ path('product', {url: product.url}) }}">{{ product.name }}</a>
            </section>
            <form class="product-price" method="post">
            {% for variant in product.variant %}
                <label class="price"><input class="{% if product.variant|length == 1 %}hidden{% endif %}" type="radio" {% if product.variant|first %}checked {% endif %} name="variant" value="{{ variant.id }}">{{ variant.price }}</label>
            {% endfor %}
                <input class="addtocard" type="submit" value="В корзину">
            </form>
        </article>
    {% endfor %}
    </article>
    
    {{ knp_pagination_render(products) }}
{% endblock body %}