{% extends '@admin/index.twig' %}

{% block title %}Шаблоны{% endblock %}

{% block page_menu_items %}
    <li class="page-menu-item"><a href="{{ path('admin_design') }}">Темы</a></li>
    <li class="page-menu-item"><a href="{{ path('admin_template') }}">Шаблоны</a></li>
    <li class="page-menu-item active"><a href="{{ path('admin_style') }}">Стили</a></li>
{% endblock page_menu_items %}

{% block page_header %}
    {% for style in styles %}
        <a class="page-header-item style-item{% if styleName == style %} style-item-active {% endif %}" href="{{ path('admin_template', {styleName: style}) }}"">{{ style }}</a>
    {% endfor %}
{% endblock page_header %}

{% block page_content %}
    <p>Тема {{ theme }}, стиль <span class="nameStyle">{{ styleName }}</span></p>
    <form class="page-content" method="post" action="{{ path('admin_style') }}">
        <input type="hidden" name="_token" value="{{ csrf_token('style_save') }}">
        <input type="hidden" name="styleName" class="nameStyle" value="{{ styleName }}">
        <textarea id="textarea" name="styleBody">{{ styleBody }}</textarea>
        <button type="submit">Сохранить</button>
    </form>
    
{% endblock page_content %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form.page-header-item
        {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('admin/js/library/codemirror/lib/codemirror.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('admin/js/library/jquery/jquery.js') }}"></script>
    <script src="{{ asset('admin/js/library/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ asset('admin/js/library/codemirror/mode/css/css.js') }}"></script>
    <script src="{{ asset('admin/js/library/codemirror/addon/selection/active-line.js') }}"></script>
    <script>
        $(document).ready(function(){
            const route = "{{ path('admin_style')|escape('js') }}";
            var editor = CodeMirror.fromTextArea(document.getElementById('textarea'), {
		mode: "css",		
		lineNumbers: true,
		styleActiveLine: true,
		matchBrackets: false,
		enterMode: 'keep',
		indentWithTabs: false,
		indentUnit: 1,
		tabMode: 'classic'
            });
            $('.style-item').on('click', function(e)
            {
                e.preventDefault();
                $('.style-item').removeClass('style-item-active');
                $(this).addClass('style-item-active');
                var styleName = $(this).text();
                $.get(
                        route,
                        {styleName: $(this).text()})
                    .done(function(data)
                    {
                        $('#textarea').val(data);
                        editor.doc.setValue(data);
                        $('span.nameStyle').text(styleName);
                        $('input.nameStyle').val(styleName);
                    });
            });
        });
    </script>
{% endblock javascripts %}